<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    
  </head>

  <body>
  <%- include top-bar.ejs %> 
  <div class="span6">
<ol class="breadcrumb">
  <li><a href="/home">Home ></a></li>
  <li><a href="/umass%20amherst">Umass Amherst ></a></li>
  <li><a href="/eva%20hudlicka">Eva Hudlicka ></a></li>
  <li><a href="/cs325">CS 325 ></a></li>
  <li><a href="/exam%201">Exam 1></a></li>
  <li class="active">Exam 1 Detail</li>
</ol>
</div>
<div class="span5"></div>  
  


<div id="content">
    <table cellspacing="0">
    <tr><td>Username</td><td>srojee</td></tr>
    <tr><td>Overall Class Rating</td><td>4</td></tr>
    <tr><td>Hours Spent Studying</td><td>2</td></tr>
    <tr><td>Notes</td><td>I find this class to be very interesting, so when taking the exam i found it very easy to study the material.</td></tr>
    </table>
</div>



  
  </body>
</html>
