<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <%- include scripts.ejs %>
  </head>

  <body>
  <%- include top-bar.ejs %> 
  </br></br></br></br>  

  </body>
</html>
