<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <%- include scripts.ejs %>
  </head>

  <body>
  <%- include top-bar.ejs %>
  <div class="span5">
  <ol class="breadcrumb">
    <li><a href="/home">Home ></a></li>
    <li><a href="/umass%20amherst">Umass Amherst ></a></li>
    <li><a href="/cs325 ">CS 325 ></a></li>
    <li class="active">Exam 1</li>
  </ol>
  </div>
  <div class="span7"></div>



  </body>
</html>
