<div id="modal-register" class="modal hide fade" aria-labelledby="modalLabel" aria-hidden="true">
 
  <!-- Modal header-->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="modalLabel">Register/Login</h3>
  </div>
  <!-- Modal Body-->
  <div class="modal-body">
    <form id="update-form" role="form" action="/editprofile" method="post">
     
     <div class="form-group span6">
       <label for="exampleInputEmail1">Email address</label>
        <input name="email" type="email" class="form-control" id="grav-email" placeholder="Enter gravatar email">
     </div>
      <div class="form-group span6">
       <label for="exampleInputEmail1">Username</label>
        <input name="email" type="email" class="form-control" id="grav-email" placeholder="Enter gravatar email">
     </div>
     <div class="form-group span6">
       <label for="exampleInputEmail1">Username</label>
        <input id="user-reg"name="email" type="email" class="form-control" id="grav-email" placeholder="Enter gravatar email">
     </div>
     <div class="form-group span6">
       <label for="exampleInputEmail1">Password</label>
        <input name="email" type="email" class="form-control" id="grav-email" placeholder="Enter gravatar email">
     </div>

     <div class="form-group">
       <label for="exampleInputPassword1">Password</label>
        <input name="pass1" type="password" class="form-control" id="password1" placeholder="Password">
     </div>
</div>
  <!-- Modal Footer-->
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">cancel</button>
      <button type="submit" id="submit-btn" class="btn btn-success" data-dismiss="modal" aria-hidden="true">submit</button>
    </div> 
  </form>
</div>
<script type="text/javascript">

$(function()
{
  $("#submit-btn").on("click", function()
  {
    $("#register-btn").hide();
    $("#login-btn").hide();
    $("#divider").append("<li id=\"register-btn\"><a href=\"#modal-register\" data-toggle=\"modal\">Welcome "+ $("#user-reg").val() +"</a></li>");
  });
});
</script>