
<%- include scripts.ejs %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li class=""><a href="/home">Home</a></li>
      <li class="divider-vertical"></li>
    </ul>
      <ul class="nav pull-right">
        <li id="divider" class="divider-vertical"></li>
        <li id="favorite-btn"><a href="/favorites" >Favorites</a></li>
        <li id="register-btn"><a href="#modal-register" data-toggle="modal">Logout</a></li>
      </ul>
  </div>
</div>

</br></br>
</br></br>
<div class="row-fluid">
  <img id="#logo" src="http://i.imgur.com/DDv137y.jpg" ></img>
  <btn id="go-btn" class="btn pull-right" href="#edit-profile" role="button" data-toggle="modal">Go</btn>
  <input id="search-area" type="text" class="search-query pull-right" placeholder="Search">
</div>
</br>

    <script type="text/javascript">
      $(function()
      {
        $("#go-btn").on("click", function()
        {
          window.location.href = "http://127.0.0.1:3000/"+ $("#search-area").val();
          return false;
        });
      });
      </script>

      
  <%- include table-style.ejs %>