
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="/home">Home</a></li>
      <li class="divider-vertical"></li>
      <li><a href="/profile">My Profile</a></li>
      <li class="divider-vertical"></li>
      <li><a href="/myroutes">My Posts</a></li>
      <li class="divider-vertical"></li>
    </ul>
      <ul class="nav pull-right">
        <li id="divider" class="divider-vertical"></li>
        <li id="register-btn"><a href="#modal-register" data-toggle="modal">Register</a></li>
      </ul>
      
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li id="login-btn"><a href="#modal-register" data-toggle="modal">Login</a></li>
      </ul> 
  </div>
</div>

</br></br>