<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    
  </head>

  <body>
  <%- include top-bar.ejs %> 
  <div class="span5">
<ol class="breadcrumb">
  <li><a href="/home">Home ></a></li>
  <li class="active">Umass Amherst</li>
</ol>
</div>
<div class="span7"></div>  
     
  </body>
</html>
