<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    
  </head>

  <body>
  <%- include top-bar.ejs %> 

  <div class="span5">
<ol class="breadcrumb">
  <li><a href="/home">Home ></a></li>
  <li class="active">Umass Amherst</li>
</ol>
</div>
<div class="span7"></div>  

</br>
</br>
</br>
    <div class="page-header offset4 span8">
    <h1><small>Classes</small></h1>
    </div>

<div id="content">

    <table cellspacing="0">
    <tr><th>Class List</th><th>Enrolled</th><th>Semester</th></tr>
    <tr><td><a href="/cs325">CS 325</a></td><td>41</td><td>Fall</td></tr>
    <tr><td>CS 370</td><td>34</td><td>Spring</td></tr>
    <tr><td>CS 487</td><td>43</td><td>Fall</td></tr>
    <tr><td>Comm 287</td><td>53</td><td>Fall</td></tr>
    </table>

</div>




     
  </body>
</html>
